html{
  scroll-behavior: smooth;
}
body{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 50em;
}
.header{
  margin: auto;
  background-color: #d3d3d3;
}
.header-wrapper{
  display: flex;
  justify-content: space-around;
}
.personal_photo{
  width: 7em;
  height: 10em;
  display: block;
  border: 0.5em solid;
  border-image: linear-gradient(135deg, #a9a9a9 38%, #d3d3d3 65%);
  border-image-slice: 1;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  margin-top: 0.4em;
  font-size: 3em;
}
li{
  list-style-type:  none;
}
.header-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.3em;
  margin-top: 10%;
}
.header-link{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}